/* Inicio de estilos y fuentes de texto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Roboto+Condensed:ital,wght@1,400&display=swap');

/* Títulos bajos */
.titulo-bajo {
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: 500; 
}

/* Títulos */
.titulo {
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 700; 
}

.titulo2 {
  font-family: 'Roboto';
  font-size: 36px;
  font-weight: 700; 
  margin-top: -80px;
}

/* Encabezados */
.encabezado {
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 600; 
}

/* Subtítulos */
.subtitulo {
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 700; 
}

/* Notas */
.nota {
    font-family: 'Roboto Condensed';
    font-size: 18px;
    font-style: italic;
    font-weight: 400;
}
  
/* Texto del cuerpo */
.cuerpo {
    font-family: 'Roboto';
    font-size: 14px;
    font-weight: 400;
}

/* Fin de estilos y fuentes de texto */

/* Incio genéricos */
html{
    width: 100%;
    height: 100%;
    }

body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

header,
  section,
  menu,
  nav,
  footer,
  hgroup{
  margin: 0px;
  padding: 0px;
  }

a{
    text-decoration: none;
}
  
.ocultar{
    display:none;
}
/* Fin genéricos */

/* Inicio Diagramación */
#wrapper{
    width: 100%;
    height: 100%;
    display: grid;
    background: rgba(13, 59, 102, 0.12);
    grid-template-rows: auto 1fr;
    grid-template-columns: 1f 1fr 1fr;

    
}

#header {
    background: rgba(13, 59, 102, 0.12);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 25px;
}

#menu {
    display: flex;
    gap: 30px;
    height: 100%;
    align-items: center;
}
  
    #menu a {
        text-decoration: none;
        color: #0D3B66;
        position: relative;
        display: inline-block;

    }

    #menu a[disabled] {
        pointer-events: none;
        cursor: default;
    }

        /* Enlace activo */
        #menu a.activo {
            color: #1C74E9;
        }

            /* Línea inferior */
            #menu a.activo::after {
                content: "";
                position: absolute;
                bottom: -20%;
                left: 0;
                width: 100%;
                height: 21.43%;
                background-color: #FF9800;
                border-radius: 17px;
            }

#usuario {
    background: #0D3B66;
    color: white;
    height: 52.33%; 
    display: flex;
    align-items: center;
    padding: 10px 25px; 
    border-radius: 5px;
}

#contenedor-contenido {
    background-image: url(../images/fondwebpage.png);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 30px;         
    padding: 20px;
}

#contenedor-estadisticas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px 50px;
    background-image: url(../images/fondwebpage.png);
  }

  .bloque-superior {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
    width: auto;
  }

  .bloque-superior2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 125px;
    margin: 0 auto;
    width: auto;
  }
  
  .p2 {
    margin-top: 20px;
  }

#contenedor-alarmas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloque-superior {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 100%;
  }
  


    .alarmas {
        display: grid;
        grid-template-rows: repeat(7, 1fr);
        gap: 10px;
        overflow-y: auto;  
        width: fit-content;   
        max-height: 100%;
    }

        .alarma {
            width: 100%; 
            height: 150px;
            background-color: #18c5db;
            display: flex;
            justify-content: top;
            align-items: left;
            color: #0D3B66;
            flex-direction: column;
            padding: 12px 16px; 
        }

            .alarma:nth-child(odd) {
                grid-column: 2 / span 4; 
            }
            
            .alarma:nth-child(even) {
                grid-column: 7 / span 4; 
            }
         
            
#modal-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.1); 
    display: flex;
    justify-content: center;
    align-items: center;
}

    .modal-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        background: white;
        border-radius: 28px;
        width: 50%;
        height: 48%;
        text-align: center;
    }

    #login-container {
        grid-column: 3 / span 8; 
        display: flex;
        flex-direction: column;
        justify-content: center; 
    }

    .login-form {
        width: 100%;
    }

        #login-form input {
            width: 100%;
            padding: 10px;
            margin-bottom: 20px;
            border: 0px;
            box-sizing: border-box;
            outline: none;  
            font-family: inherit;
        }
        
h1 {
    color: #0D3B66;
    grid-column: 2 / span 8;
    margin-bottom: 0px;
    align-self: center;
}

h2 {
    background: #0D3B66;
    color: white;
    height: 52.33%; 
    display: flex;
    align-items: center;
    padding: 10px 25px; 
    border-radius: 5px;
    grid-column: 10;
    margin-bottom: 0px;
}

h3 {
  color: #0D3B66;
  grid-column: 2 / span 12;
  margin-bottom: 0px;
  align-self: center;
}

p {
    color: #0D3B66;
}

.boton-principal {
    display: flex;
    justify-content: center; 
    align-items: center;     
    background: #1C74E9;
    width: 157px;
    height: 30px; 
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton-principal-estadisticas {
    display: flex;
    justify-content: center; 
    align-items: center;     
    background: #1C74E9;
    width: 157px;
    height: 30px; 
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;     /* centra el texto dentro */
    margin-left: auto; 
}

  
#login-form .boton-principal {
    margin-left: auto;
    cursor: pointer;  
}

.grafico-alarmas, .tabla-alarmas {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .grafico-alarmas {
    width: 30%;
    height: 100%;
  }
  
  /* Tabla scroll horizontal si es necesario */
  .tabla-alarmas {
    overflow-x: auto;
  }
  
  .tabla-alarmas table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }
  
  .tabla-alarmas thead {
    background-color: #0D3B66;
    color: white;
  }
  
  .tabla-alarmas th {
    padding: 10px;
    border: 1px solid #0D3B66;
  }

 .tabla-alarmas td {
    background-color: white;
    padding: 10px;
    border: 1px solid #0D3B66;
  }

  #contenedor-sincronizar2 {
    position: fixed;          
    top: 40%;                 
    left: 216px;
    right: 216px;                
    transform: translate(0, -50%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  #contenedor-sincronizar {
    position: fixed;          
    top: 40%;                 
    left: 50%;                
    transform: translate(-50%, -50%); 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .lista-personas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px auto;
    width: 360px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  .persona {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .nombre {
    flex: 1;            
    text-align: left;   
  }
  
  .avatar {
    width: 32px;
    height: 32px;
    background-color: #3AB8C4;
    color: #0D3B66;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
  }

  .persona input[type="checkbox"] {
    appearance: none;     
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid rgba(13, 59, 102, 0.12); 
    border-radius: 2px;     
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.1s ease;
  }
  
  .persona input[type="checkbox"]:checked {
    background-color: #0D3B66; 
    border-radius: 2px;     
    border-color: none;     
  }
  
  .persona input[type="checkbox"]:checked::after {
    content: "✔";         
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;         
    font-size: 12px;       
    font-weight: bold;
  }

  .boton-principal.subtitulo {
    margin: 20px auto;   
    display: flex;     
    justify-content: center;
  }

  /* Contenedor general de las invitaciones */
#contenedor-invitaciones {
  display: flex;
  flex-direction: column;
  gap: 25px;            
  grid-column: 2 / span 9; 
}

.invitacion {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background: transparent;
}

.invitacion .alarma {
  width: 30%; 
  height: 150px;
  background-color: #18c5db;
  display: flex;
  justify-content: top;
  align-items: left;
  color: #0D3B66;
  flex-direction: column;
  padding: 12px 16px; 
}

.botones {
  display: flex;
  gap: 15px;
}

.boton-rechazar {
  display: flex;
  justify-content: center; 
  align-items: center;     
  background: #18c5db;
  width: 157px;
  height: 30px; 
  color: #0D3B66;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.boton-aceptar {
  display: flex;
  justify-content: center; 
  align-items: center;     
  background: #1C74E9;
  width: 157px;
  height: 30px; 
  color: white;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#crear-colectivas {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#contenedor-invitaciones {
  display: flex;
  flex-direction: column;
  gap: 25px;              
  margin-top: 30px;
}
.invitacion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.botones {
  display: flex;
  gap: 20px;
}


/* Botón crear alarmas colectivas centrado */
#crear-colectivas {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

/* Fin Diagramación */
  
  